@model Rectangle

<h2>Rectangle Details</h2>

<p>Width: @Model.Width @Model.WidthUnit</p>
<p>Height: @Model.Height @Model.HeightUnit</p>
<p>Area: @Model.Area m²</p>

<a asp-action="List" class="btn btn-primary">Comeback to list</a>